.epdf-loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #dad6d6;
  background:
    radial-gradient(farthest-side, #000 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #000);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin-right: 20px;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.epdf-loader-container {
  background-color: transparent;
  box-sizing: border-box;
  padding: 20px;
  width: 301px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.epdf-loader-container span {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.export-pdf-mode .ProseMirror ol:not([data-counter-reset='none']) {
  counter-reset: var(--czi-counter-name) var(--czi-counter-reset);
}

.export-pdf-mode .ProseMirror ol, .ProseMirror ul {
  column-span: none;
  break-inside: auto;
  list-style-type: decimal;
  display: block;
}